:host {
  .message{
    padding-bottom: 15px;
    padding-top: 15px;
  }
  h2 {
    font-weight: 300;
    span {
      font-size: 1.4rem;
      display: block;
      font-weight: 500;
    }
  }
  h4 {
    font-weight: 300;
    span {
      font-size: 1.4rem;
      font-weight: 500;
    }
  }
  p{
    font-weight: 300;
    span{

      font-size: 1.4rem;
      font-weight: 500;
    }
  }
}
