:host{
  main{
    min-height: 700px;
    .home{
      h1 {
        font-weight: 300;
        font-size: 1rem;
      }
      p{
        font-weight: 300;
      }
      text-align: center;
    }
  }

}
