<mat-toolbar color="primary">
  <span>#QuédateEnCasa 🇵🇦🦠</span>
</mat-toolbar>

<main class="flex-grow">
  <div class="home d-flex flex-column mb-3">
    <img
      src="assets/quedate-en-casa.jpg"
      class="img-fluid"
      alt="Responsive image"
    />
    <div class="p-4">
      <p>
        #QuédateEnCasa Panamá 🇵🇦. Aquí podrás verificar en qué horario te
        corresponde salir. Sólo llena los campos indicados y sabrás qué día de
        la semana y hora te corresponde.
      </p>

      <h2 class="pt-3">Selecciona tu rango de edad</h2>
      <mat-button-toggle-group [(ngModel)]="selectedGroup" (change)="resetAll()">
        <mat-button-toggle *ngFor="let val of ages" value="{{ val.value }}">{{
          val.label
        }}</mat-button-toggle
        >
      </mat-button-toggle-group>

      <h2 class="pt-3">Selecciona tu género</h2>
      <mat-button-toggle-group
        [(ngModel)]="selectedGender"
        (change)="inputsChange()"
      >
        <mat-button-toggle
          *ngFor="let item of genders; let i = index"
          value="{{ item }}"
          >{{ item }}</mat-button-toggle
        >
      </mat-button-toggle-group>

      <div *ngIf="selectedGroup === 'group-1'">
        <h2 class="mt-4">
          ¿Cuál es el último número de tu cédula o pasaporte?
        </h2>

        <mat-button-toggle-group
          [(ngModel)]="selectedNumber"
          [disabled]="disabledNumbers"
          (change)="inputsChange()"
        >
          <mat-button-toggle
            *ngFor="let item of endNumbers; let i = index"
            value="{{ i }}"
            >{{ i }}</mat-button-toggle
          >
        </mat-button-toggle-group>
      </div>

      <app-resultado *ngIf="rule" [rule]="rule"></app-resultado>
    </div>
  </div>
</main>
<app-footer></app-footer>
